<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OkkaKalipWeb.UI.Web</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" id="industris-style-css" href="~/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="bootstrap-css" href="~/css/bootstrap.css" type="text/css" media="all">
    <link rel="stylesheet" id="awesome-font-css" href="~/css/font-awesome.css" type="text/css" media="all">
    <link rel="stylesheet" id="ionicon-font-css" href="~/css/ionicon.css" type="text/css" media="all">
    <link rel="stylesheet" id="slick-slider-css" href="~/css/slick.css" type="text/css" media="all">
    <link rel="stylesheet" id="slick-theme-css" href="~/css/slick-theme.css" type="text/css" media="all">
    <link rel="stylesheet" id="magnific-popup-css" href="~/css/magnific-popup.css" type="text/css" media="all">

    <link rel="shortcut icon" href="favicon.png">

</head>
<body>
    <div id="page" class="site">
        <partial name="Components/Frontend/_header" />

        @RenderBody()

        <partial name="Components/Frontend/_footer" />
    </div>

    <script src='~/js/jquery.min.js'></script>
    <script src='~/js/slick.min.js'></script>
    <script src='~/js/jquery.sticky.js'></script>
    <script src='~/js/countto.min.js'></script>
    <script src='~/js/jquery.magnific-popup.min.js'></script>
    <script src='~/js/jquery.isotope.min.js'></script>
    <script src='~/js/scripts.js'></script>

    @RenderSection("Scripts", required: false)
</body>
</html>