<section class="bg-default">
    <div class="container">
        <div class="row flex-row">
            <div class="col-md-8">
                <h4 class="text-primary">FEATURED PROJECT</h4>
                <h2 class="text-white no-margin-bottom">The great work we did</h2>
            </div>
            <div class="col-md-4 text-right align-self-end">
                <a class="text-white industris-lineheight" href="project.html">View all project <i class="icon ion-md-add-circle-outline"></i> </a>
            </div>
        </div>
        <div class="industris-space-20"></div>

        <div class="row">
            <div class="col-md-12">

                <div class="project-feature-slider project-feature" data-show="3" data-arrow="true">

                    <div class="project-item col-lg-4 col-sm-6">
                        <div class="inner">
                            <img src="https://via.placeholder.com/720x900.png" alt="">
                            <div class="project-info">
                                <div class="project-meta">Russia   |   12 November 2018</div>
                                <div class="project-content">
                                    <h3><a href="project-detail.html">Refurbishing Gears</a></h3>
                                    <p>Sed ut perspiciatis unde omnis iste nas error sit voluptatem accusantium doloremque laudantium, totam  aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto ...</p>
                                    <a href="project-detail.html">View details <i class="icon ion-md-add-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item col-lg-4 col-sm-6">
                        <div class="inner">
                            <img src="https://via.placeholder.com/720x900.png" alt="">
                            <div class="project-info">
                                <div class="project-meta">Russia   |   12 November 2018</div>
                                <div class="project-content">
                                    <h3><a href="project-detail.html">Wind power in Russia</a></h3>
                                    <p>Sed ut perspiciatis unde omnis iste nas error sit voluptatem accusantium doloremque laudantium, totam  aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto ...</p>
                                    <a href="project-detail.html">View details <i class="icon ion-md-add-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item col-lg-4 col-sm-6">
                        <div class="inner">
                            <img src="https://via.placeholder.com/720x900.png" alt="">
                            <div class="project-info">
                                <div class="project-meta">Russia   |   12 November 2018</div>
                                <div class="project-content">
                                    <h3><a href="project-detail.html">Water Recycle</a></h3>
                                    <p>Sed ut perspiciatis unde omnis iste nas error sit voluptatem accusantium doloremque laudantium, totam  aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto ...</p>
                                    <a href="project-detail.html">View details <i class="icon ion-md-add-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item col-lg-4 col-sm-6">
                        <div class="inner">
                            <img src="https://via.placeholder.com/720x900.png" alt="">
                            <div class="project-info">
                                <div class="project-meta">Russia   |   12 November 2018</div>
                                <div class="project-content">
                                    <h3><a href="project-detail.html">Industry Complex</a></h3>
                                    <p>Sed ut perspiciatis unde omnis iste nas error sit voluptatem accusantium doloremque laudantium, totam  aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto ...</p>
                                    <a href="project-detail.html">View details <i class="icon ion-md-add-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item col-lg-4 col-sm-6">
                        <div class="inner">
                            <img src="https://via.placeholder.com/720x900.png" alt="">
                            <div class="project-info">
                                <div class="project-meta">Russia   |   12 November 2018</div>
                                <div class="project-content">
                                    <h3><a href="project-detail.html">Warehouse Industry</a></h3>
                                    <p>Sed ut perspiciatis unde omnis iste nas error sit voluptatem accusantium doloremque laudantium, totam  aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto ...</p>
                                    <a href="project-detail.html">View details <i class="icon ion-md-add-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item col-lg-4 col-sm-6">
                        <div class="inner">
                            <img src="https://via.placeholder.com/720x900.png" alt="">
                            <div class="project-info">
                                <div class="project-meta">Russia   |   12 November 2018</div>
                                <div class="project-content">
                                    <h3><a href="project-detail.html">Machine Engineering</a></h3>
                                    <p>Sed ut perspiciatis unde omnis iste nas error sit voluptatem accusantium doloremque laudantium, totam  aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto ...</p>
                                    <a href="project-detail.html">View details <i class="icon ion-md-add-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="industris-space-90"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h3 class="text-white">Our work process</h3>
            </div>
            <div class="col-md-9">
                <p class="text-white border-left">Over the course of more than 25 years of hard work with many large and small projects. We have worked out the best working process.</p>
            </div>
        </div>
        <div class="industris-space"></div>

        <div class="row">
            <div class="col-md-3">
                <div class="process process-light">
                    <div class="process-icon"><i class="icon ion-ios-briefcase"></i></div>
                    <h4>Receive and Evaluate<br> the project overview</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="process process-light">
                    <div class="process-icon"><i class="icon ion-md-football"></i></div>
                    <h4>Research and<br> detailed planning</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="process process-light">
                    <div class="process-icon"><i class="icon ion-ios-rocket"></i></div>
                    <h4>Deploy and complete<br> the project</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="process process-light">
                    <div class="process-icon"><i class="icon ion-ios-filing"></i></div>
                    <h4>Evaluation and<br> project handover</h4>
                </div>
            </div>
        </div>

    </div>
</section>