@model NewsModel
@{
    ViewData["Title"] = "Okka Kalıp - Haberler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header" style="background: url('https://via.placeholder.com/1920x450.png') no-repeat center center;">
    <div class="container">
        <div class="breadc-box no-line">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">News</h2>
                    <ul id="breadcrumbs" class="breadcrumbs none-style">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">News</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="entry-content">
    <div class="container">
        <div class="row">

            <div id="primary" class="content-area col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <main id="main" class="site-main">
                    <div class="row">

                        @foreach (var news in Model.NewsList)
                        {
                            <partial name="Components/_singleNews" for="@news" />
                        }
                    </div>

                    <partial name="Components/_pagination" />

                </main>
                <!-- #main -->
            </div>
        </div>
    </div>
</div>