@model ProductModel
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Ürün İşlemleri</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form asp-controller="Product" asp-action="CreateProduct" method="post">
                    <div class="card-body">
                        <div class="form-group row">
                            <label asp-for="Name">Ürün Adı</label>
                            <input asp-for="Name" class="form-control" placeholder="Ürün Adı Giriniz...">
                        </div>
                        <div class="form-group row">
                            <label asp-for="ImageUrl">Image</label>
                            <input asp-for="ImageUrl" class="form-control" placeholder="Ürün Resmi Yükleyiniz...">
                        </div>
                        <div class="form-group row">
                            <label asp-for="Price">Fiyatı</label>
                            <input asp-for="Price" class="form-control" placeholder="Ürün Fiyatı Giriniz...">
                        </div>
                        <div class="form-group row">
                            <label asp-for="Description">Açıklama</label>
                            <textarea asp-for="Description" id="editor" class="form-control" rows="3" placeholder="Ürün Açıklaması ..."></textarea>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>