@model IEnumerable<Service>
<section class="no-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-primary">HİZMETLERİMİZ</h4>
                <h2>Ne Yapıyoruz?</h2>
                <div class="industris-space-30"></div>

                <div class="services-block-left">
                    <div class="services-slider-img-left">
                        <img src="~/img/about/service/services-solution.png" alt="">
                    </div>
                </div>

                <div class="services-slider" data-show="3" data-arrow="true">
                    @foreach (var item in Model)
                    {
                        <div class="services-item">
                            <div class="services-box">
                                <div class="services-icon">
                                    <img src="~/img/about/service/@(item.ImageUrl)" alt="">
                                </div>
                                <div class="services-content">
                                    <h3><a asp-controller="About" asp-action="ServiceDetail" asp-route-id="@item.Id">@item.Title</a></h3>
                                    <p>@(item.Description.ToSubstring())...</p>
                                    <a class="view-detail" asp-controller="About" asp-action="ServiceDetail" asp-route-id="@item.Id">Detayları Gör<i class="icon ion-md-add-circle-outline"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="industris-space-90"></div>
</section>