@model ProductListModel
<div page-model="@Model.PageInfo" class="col-md-12">
    <ul class="page-pagination shop-pagination none-style">
        <li><span aria-current="page" class="page-numbers current">1</span></li>
        <li><a class="page-numbers" href="#">2</a></li>
        <li><a class="page-numbers" href="#">3</a></li>
        <li><a class="page-numbers" href="#">...</a></li>
        <li><a class="page-numbers" href="#">23</a></li>
        <li><a class="prev page-numbers" href="#"><i class="icon ion-ios-arrow-back"></i></a></li>
        <li><a class="next page-numbers" href="#"><i class="icon ion-ios-arrow-forward"></i></a></li>
    </ul>
</div>