<div id="shopreview" class="tab-pane">
    <p> Henüz hiç yorum yapılmamış.</p>

    <p>
        Ürünü ilk yorumlayan siz olun”<br>
        * Alanların doldurulması zorunludur.
    </p>

    <div class="product-rating">
        <span class="rating-text">Your rating:</span>
        <span><i class="icon ion-md-star"></i></span>
        <span><i class="icon ion-md-star"></i></span>
        <span><i class="icon ion-md-star"></i></span>
        <span><i class="icon ion-md-star"></i></span>
        <span><i class="icon ion-md-star-half"></i></span>
    </div>
    <form class="form-review" action="" method="post">
        <div class="row">
            <div class="col-md-6 form-group">
                <label>İsminiz</label>
                <input type="text" name="your_name" id="your-name" class="form-control" placeholder="İsminizi Giriniz" required="">
            </div>
            <div class="col-md-6 form-group">
                <label>Email adresiniz...</label>
                <input type="email" name="your_email" id="your-email" class="form-control" placeholder="Email Adresinizi Giriniz" required="">
            </div>
            <div class="col-md-12 form-group">
                <label>Yorumunuz</label>
                <textarea type="text" rows="6" name="your_message" id="your-message" class="form-control" placeholder="Ürün Hakkındaki Yorumunuzu Yazınız" required=""></textarea>
            </div>
            <div class="col-md-12">
                <input type="submit" value="Gönder" class="wpcf7-form-control wpcf7-submit btn btn-primary">
            </div>
        </div>
    </form>
</div>