<div class="col-md-4 primary-sidebar">
    <div id="search-2" class="widget widget_search">
        <form role="search" method="get" id="search-form" class="search-form" action="#">
            <div class="input-group">
                <input type="search" name="EMAIL" class="form-control search-field" placeholder="Ara..." value="">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-search"><i class="icon ion-md-search"></i></button>
                </span>
            </div>
        </form>
    </div>
    <div id="categories-2" class="widget widget_categories">
        <h4 class="widget-title">Kategoriler</h4>
      @await Component.InvokeAsync("CategoryList")
    </div>
</div>