@model List<Slider>
<div class="slider" data-show="1" data-arrow="true">
    @foreach (var item in Model)
    {
        <div>
            <div class="slider-item">
                <img src="~/img/slider/@item.ImageUrl" alt="@item.Title" class="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="slider-content">
                                <h4>@item.Description</h4>
                                <h1>@item.Title </h1>
                                <a class="btn btn-primary" asp-controller="Shop" asp-action="Index">Ürünleri Gör</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>