@model string
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>View map:</h3>
                <div class="map">
                    @Html.Raw(Model)
                </div>
            </div>
        </div>
    </div>
</section>