@model AboutModel
@{
    ViewData["Title"] = "Okka Kalıp - Kurumsal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Site Page Route Banner -->
    <div class="page-header" style="background: url('@Url.Content("~/img/info/subheader-about.jpg")') no-repeat center center;">
        <div class="container">
            <div class="breadc-box no-line">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-title">Kurumsal</h2>
                        <ul id="breadcrumbs" class="breadcrumbs none-style">
                            <li><a href="/">Anasayfa</a></li>
                            <li class="active">Kurumsal</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- About Story -->
@await Html.PartialAsync("Components/_aboutOurStory", Model)

<!-- About Page Clients Info
<partial name="Components/_clients" />-->
