<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 ">
                <h4 class="text-primary">TESTIMONIAL</h4>
                <h2>What our customers say</h2>

                <div class="testi-slider-2" data-show="1" data-arrow="false" data-dots="true">

                    <div>
                        <div class="testi-item">
                            <div class="testi-content">
                                <i class="icon ion-md-quote"></i>
                                <p>"When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane."</p>
                            </div>
                            <div class="testi-info">
                                <img src="https://via.placeholder.com/90x90.png" alt="" class="circle-img">
                                <h4>Emilia Clarke<span>Manager Avenger company</span></h4>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="testi-item">
                            <div class="testi-content">
                                <i class="icon ion-md-quote"></i>
                                <p>"A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I should be incapable of drawing a single stroke at the present moment"</p>
                            </div>
                            <div class="testi-info">
                                <img src="https://via.placeholder.com/90x90.png" alt="" class="circle-img">
                                <h4>Micheal Sejuro<span>Manager Fusion themes company</span></h4>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="testi-item">
                            <div class="testi-content">
                                <i class="icon ion-md-quote"></i>
                                <p>"I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I should be incapable of drawing a single stroke at the present moment"</p>
                            </div>
                            <div class="testi-info">
                                <img src="https://via.placeholder.com/90x90.png" alt="" class="circle-img">
                                <h4>Emilia Clarke<span>Manager Avenger company</span></h4>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="testi-item">
                            <div class="testi-content">
                                <i class="icon ion-md-quote"></i>
                                <p>"I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. I should be incapable of drawing a single stroke at the present moment"</p>
                            </div>
                            <div class="testi-info">
                                <img src="https://via.placeholder.com/90x90.png" alt="" class="circle-img">
                                <h4>Micheal Sejuro<span>Manager Fusion themes company</span></h4>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="industris-space-sm"></div>
            </div>
            <div class="col-md-offset-1 col-md-4 about-border-left">
                <h3>Why we’re different</h3>
                <p>As fellow entrepreneurs, we understand the need for space which gives your business room</p>
                <ul class="unstyle">
                    <li><i class="icon ion-md-checkmark-circle"></i><a href="#">Flexible solutions</a></li>
                    <li><i class="icon ion-md-checkmark-circle"></i><a href="#">Free technology</a></li>
                    <li><i class="icon ion-md-checkmark-circle"></i><a href="#">Improved operating conditions</a></li>
                    <li><i class="icon ion-md-checkmark-circle"></i><a href="#">Transparent costs</a></li>
                </ul>
                <a href="#" class="btn btn-primary">Get a quote</a>
            </div>
        </div>
    </div>
</section>