@model ProductDetailsModel
@{
    ViewData["Title"] = Model.Product.Name;
}

<div class="page-header" style="background: url('@Url.Content("~/img/banner/"+Model.GetBannerImageUrl()??"main-banner.jpg")') no-repeat center center;">
    <div class="container">
        <div class="breadc-box no-line">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">@Model.Product.Name</h2>
                    <ul id="breadcrumbs" class="breadcrumbs none-style">
                        <li asp-active-controllers="Home" asp-active-actions="Index" asp-active-class="current-menu-ancestor current-menu-parent">
                            <a asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li asp-active-controllers="Shop" asp-active-actions="Index" asp-active-class="current-menu-ancestor current-menu-parent">
                            <a asp-controller="Shop" asp-action="Index">Ürünler</a>
                        </li>
                        <li class="active">@Model.Product.Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="Components/_productDetail" for="@Model" />