@model ProductListModel
@{
    ViewData["Title"] = "Okka Kalıp - Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header" style="background: url('@Url.Content("~/img/banner/"+Model.GetBannerImageUrl()??"main-banner.jpg")') no-repeat center center;">
    <div class="container">
        <div class="breadc-box no-line">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">Ürünler</h2>
                    <ul id="breadcrumbs" class="breadcrumbs none-style">
                        <li asp-active-controllers="Home" asp-active-actions="Index" asp-active-class="current-menu-ancestor current-menu-parent">
                            <a asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="active">Ürünler</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <!-- Sidebar Product -->
            <partial name="Components/_sidebarCategory" />

            <div class="col-md-8">
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        <partial name="Components/_singleProduct" for="@product" />
                    }

                    <!-- Pagination -->
                    <partial name="Components/_pagination" />
                </div>
            </div>
        </div>
    </div>
</section>