<footer id="site-footer" class="site-footer bg-footer">
    <div class="footer-bottom">
        <div class="container-custom">
            <div class="row">
                <div class="col-md-12">
                    <ul class="topbar-left">
                        <li><i class="icon ion-md-mail"></i>ahmettinastepe0@gmail.com</li>
                        <li>
                            Copyright ©
                            <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır Created By <a style="color:azure;" href="http://ahmettinastepe.com" target="_blank">Ahmet Tınastepe</a>
                        </li>
                    </ul>
                    <a id="back-to-top" href="#" class="btn btn-back-to-top pull-right">Başa Dön<i class="icon ion-ios-arrow-dropup-circle"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- .copyright-footer -->
</footer>