@model ContactModel
@{
    ViewData["Title"] = "Okka Kalıp - İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Url Route Banner -->
    <div class="page-header" style="background: url('@Url.Content("~/img/banner/"+Model.GetBannerImageUrl()??"main-banner.jpg")') no-repeat center center;">
        <div class="container">
            <div class="breadc-box no-line">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-title">İletişim</h2>
                        <ul id="breadcrumbs" class="breadcrumbs none-style">
                            <li asp-active-controllers="Home" asp-active-actions="Index" asp-active-class="current-menu-ancestor current-menu-parent">
                                <a asp-controller="Home" asp-action="Index">Anasayfa</a>
                            </li>
                            <li class="active">İletişim</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Contact Info -->
@await Html.PartialAsync("Components/_contactInfo", Model.InfoModel)

<!-- View Map -->
@await Html.PartialAsync("Components/_viewMap", Model.InfoModel.MapIframe)